.place__title{
  
  grid-area: header;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin:0;
  padding:0;
  padding-bottom: 8px;
}

 @media screen and (max-width: 1024px) {
  .place__title{
    padding-bottom: 16px;
  }
}
  
@media screen and (max-width: 768px) {
  .place__title{
    padding-bottom: 20px;
    font-size: 42px;/*возможны проблемы на разрешении 321px Проблемы решаются, если установить шрифт в 24px*/
    line-height: 46px;
  }
}
@media screen and (max-width: 320px) {
  .place__title {
    max-width:100vw;  
    font-size: 32px;
    line-height: 35px;
  }
}
  
