.photo-grid{
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fill, minmax(284px, max-content));
  justify-content: center;
  gap:16px;
  padding: 0;
  margin: 92px auto;
  grid-auto-flow: row;
  border: 3px solid green;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin:88px auto;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin:64px auto;
  }
}