.header__links{
    display: flex;
    padding-top:18px;
    justify-content: space-between;
    /* font-family: Inter; */
    margin-right: 48px;
}

@media screen and (max-width: 768px) {
    .header__links {
        margin-right:24px;
    }
  }