.cover__subtitle{
  max-width: 360px;
  

  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}