.header{
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
  }
}