.place__website_link{
  max-width: 456px;
 

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-decoration-line: underline;
  color:white;
}

.place__website_link:hover{
  opacity: 0.5;
  transition: 3s;
}

@media screen and (max-width: 320px) {
  .place__website_link {
    max-width:100vw;  
    
  }
}
  