.place__paragraph{
  margin:0;
  padding:0;
  padding-bottom:24px;
  align-self: start;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  width: 100%; 
  max-width: 484px;
 
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    
    max-width: 352px;
    font-size: 16px;
  }
}  

@media screen and (max-width: 720px) {
  .place__paragraph {
    width:100%;
    max-width: 288px;
    
  }
} 

.place__paragraph:last-child{
  padding-bottom: 0;
}
