.intro{
  margin: 0 auto;
  max-width: 690px;
  max-height: 429px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead__image{
    max-width: 928px;
    max-height: 580px;
  }
}
  
@media screen and (max-width: 768px) {
  .lead__image{
    max-width: 768px;
    max-height: 900px;
  }
}
  
@media screen and (max-width: 320px) {
  .lead__image{
    max-width: 288px;
    max-height: 754px;
  }
}