.cover{
  max-width: 1184px;
  height: 740px;
  margin: 92px auto;
  background-image: url('../../images/cover-trains.jpg');
  position: relative;
  background-size: 100% 100%;
}
  
@media screen and (max-width: 768px) {
  .cover{
    margin: 88px auto;
  }
}
  
@media screen and (max-width: 320px) {
  .cover{
    margin: 64px auto;
  }
}