.footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  max-width: 1184px;
  margin-left:calc(50vw - 592px);
}

@media screen and (max-width: 320px) {
  .footer{
    flex-direction: column;
  }
}

@media screen and (max-width: 1280px) {
  .footer{
    margin:0;
  }
}