.place__url-heading{
  width:100%;
  max-width: 456px;
    /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  

  letter-spacing: 0.2em;
 
  color: #AAAAAA;
}

@media screen and (max-width: 1024px) {
  .place__link {
    
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    
    max-width: 352px;
    font-size: 16px;
  }
}  

@media screen and (max-width: 320px) {
  .place__link {
    max-width:100vw;  
    
  }
}
  

  